<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ $title := cond .IsHome site.Title (printf "%s | %s" .Title site.Title) }}
<title>{{ $title }}</title>
{{ $description := .Description | default site.Params.description }}
<meta name="description" content="{{ $description }}">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
{{ with .OutputFormats.Get "RSS" }}
  <link rel="alternate" type="application/rss+xml" href="{{ .Permalink }}" title="{{ site.Title }}">
{{ end }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
<meta name="theme-color" content="#f7f5ef" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#111316" media="(prefers-color-scheme: dark)">
{{ $css := resources.Get "css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{ if or .Params.math site.Params.math }}
  {{ partial "math.html" . }}
{{ end }}
